@font-face {
    font-family: first;
    src: url(./assets/fonts/64ab7d5d473b407f40478d78_NeutrifStudio-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body { 
    height: 100vh;
}
#main {
    width: 100%;
    height: 100%;
    background-color: #0D0D0E;
    padding-top: 0.1px;
}
#nav {
    width: 100%;
    height: 8vh;
    background-color: #0D0D0E;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-left {
    font-family: "Neutrifstudio Regular", sans-serif;
    width: 9%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-left h1 {
    color: white;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#nav-center {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}


#nav-center-content {
    height: 30px;
    width: 100%;
    background-color: #302E2D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-center-content h5 {
    cursor: pointer;
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 11.52px;
    font-weight: 400;
    line-height: 14.4px;
    color: #837d7b;
}

#nav-center-content h5:hover {
    color: white;
    transition: all linear 1s;
}

#nav-right {
    width: 9%;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-right button {
    cursor: pointer;
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 45px;
    background-color: white;
    border: none;
    transition: all linear 0.3s;
}

#nav-right button:hover {
    background-color: blue;
    color: white;
}

#page1 {
    width: 100%;
    height: 60vh;
    padding: 0 10vw;
}

#page1-content {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#page1-content-left {
    width: 32.5%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#page1-content-left img {
    transition: all linear 2s;
    width: 65%;
    height: 31vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#page1-content-center {
    width: 45%;
    height: 60vh;
}


#h1-head {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#h1-1 {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1-1 h1 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 100.032px;
    font-weight: 700;
    line-height: 90.0288px;
    color: rgb(77, 77, 77)
}

#h1-2 {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1-2 h1 {
    font-family: "Neutrifstudio Bold", sans-serif;
    Font-size: 100.032px;
    font-weight: 700;
    line-height: 90.0288px;
    color: rgb(255, 255, 255);
}

#h1-3 {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1-3 h1 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 100.032px;
    font-weight: 700;
    line-height: 90.0288px;
    color: #6A8300;
}

#para1 {
    width: 100%;
    height: 20vh;
    padding: 1.5vw 1vw;
}

#para1 p {
    text-align: center;
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: rgb(195, 186, 176);

}

#page1-content-right {
    width: 32.5%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#page1-content-right img {
    transition: all linear 2s;
    width: 65%;
    height: 31vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

#page2 {
    margin-top: 3vh;
    width: 100%;
    height: 70vh;
    background-color: #0D0D0E;
    padding: 0 22vw;
    display: flex;
    justify-content: center;
}

.content {
    width: 88%;
    height: 75%;
}

.content img {
    width: 100%;
    height: 100%;
}

#page3 {
    width: 100%;
    height: 70vh;
    background-color: #0D0D0E;
    padding: 0 18vw;
}

.content1 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content1 p {
    font-family: "Neutrifstudio Regular", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 54px;
    color: white;
    text-align: center;
    margin-bottom: 20vh;
}

.content1 p img {
    height: 5.5vh;
    width: 2.7vw;
}

#page4 {
    width: 100%;
    height: 100vh;
    display: flex;
}

#page4-left {
    width: 30%;
    height: 100vh;
}

#page4-left img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: left;
}

#page4-center {
    width: 40%;
    height: 100vh;
    overflow-y: auto;
}

#page4-center::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}

#page4-center-top {
    width: 100%;
    height: 30vh;
    background-color: #0D0D0E;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

#page4-center-top h1 {
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 90.048px;
    font-weight: 540;
    line-height: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
}


#page4-center-top2 {
    width: 100%;
    height: 65vh;
    background-color: #0D0D0E;
    padding: 0vw 5vw;
    padding-left: 7vw;
}

#page4-center-top2-content {
    width: 92%;
    height: 100%;
    background-color: #38383B;
    border-radius: 50vw;
}

#page4-center-top2-content img {
    width: 65%;
    height: 30vh;
    object-fit: cover;
    margin: 0vw 4vw;
    margin-top: 3vw;
}

#page4-center-top2-content h1 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 39.936px;
    font-weight: 700;
    line-height: 41px;
    color: rgb(255, 255, 255);
    margin: 0vw 3.5vw;
    margin-top: 1.5vw;
}

#page4-center-top2-content p {
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 17.28px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(195, 186, 176);
    margin: 0vw 4vw;
    margin-top: 1vw;
    text-align: center;
}

#page4-center-center {
    width: 100%;
    height: 75vh;
    background-color: #0D0D0E;
    padding: 1vw 5vw;
    padding-left: 7vw;

}

#page4-center-center-content {
    width: 93%;
    height: 68vh;
    background-color: #38383B;
    border-top-left-radius: 50vw;
    border-top-right-radius: 50vw;
    padding: 0.1px;
    position: relative;
}

#page4-center-center-content h1 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 41px;
    color: rgb(255, 255, 255);
    margin: 0vw 6vw;
    margin-top: 8vw;
}

#page4-center-center-content p {
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(195, 186, 176);
    margin-top: 1vw;
    text-align: center;
    margin: 1vw 4.3vw;
}

#page4-center-center-content img {
    width: 87%;
    height: 30vh;
    position: absolute;
    left: 9%;
}

#page4-center-bottom {
    width: 100%;
    height: 95vh;
    background-color: #0D0D0E;
    padding: 0vw 5vw;
    padding-left: 7vw;
    padding-top: 3vw;
    position: relative;
}

#page4-center-bottom-content1 {
    width: 93%;
    height: 37vh;
    background-color: #38383B;
    border-radius: 50vw;
}

#page4-center-bottom-content1 img {
    width: 80%;
    height: 23vh;
    margin: 3vw 3vw;
}

#page4-center-bottom-content2 {
    width: 66%;
    height: 35vh;
    background-color: #38383B;
    border-radius: 50vw;
    position: absolute;
    top: 42%;
}

#page4-center-bottom-content2 h1 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 41px;
    color: rgb(255, 255, 255);
    margin: 0 2.5vw;
    margin-top: 4vw;

}

#page4-center-bottom-content2 p {
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(195, 186, 176);
    text-align: center;
    margin: 0 5vw;
    margin-top: 1vw;
}

#page4-right {
    width: 30%;
    height: 100vh;
    background-color: rgb(255, 0, 157);
}

#page4-right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: right;
}

#page5 {
    width: 100%;
    height: 100vh;
    background-color: #30A332;
}

#page5-top {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page5-top p {
    text-align: center;
    margin: 0 39vw;
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.2px;
    color: rgb(244, 255, 104);
}

#page5-top2 {
    width: 100%;
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page5-top2 h1 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 7vw;
    font-weight: 700;
    line-height: 135.936px;
    color: rgb(244, 255, 104);
}

#page5-bottom {
    width: 100%;
    height: 53vh;
    padding: 0 24vw;
    position: relative;

}

#page5-bottom-content {
    top: 5.5%;
    position: absolute;
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #F4FF68;
    border-top-left-radius: 40vw;
    border-top-right-radius: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page5-bottom-content img {
    width: 37%;
    height: 58vh;
    position: absolute;
    bottom: 0%;
}

#page6 {
    width: 100%;
    height: 45vh;
    background-color: #0D0D0E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 29vw;
    text-align: center;
}

#page6 h1 {
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 90.048px;
    font-weight: 400;
    line-height: 90.048px;
    color: rgb(255, 255, 255);
    margin-top: 5 vw;
}

#page7 {
    width: 100%;
    height: 105vh;
    background-color: #0D0D0E;
    display: flex;
}

.page7-left {
    width: 58%;
    height: 105vh;
    background-color: #2A2A2C;
    margin-left: 2vw;
    border-radius: 50px;
}

.page7-left h4 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 12.096px;
    font-weight: 700;
    line-height: 15.12px;
    color: rgb(120, 120, 120);
    margin-top: 1.8vw;
    margin-left: 1.8vw;
    display: block;
}

#page7-left-top {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15vw;

}

#page7-left-top h2 {
    font-family: "Neutrifstudio Bold", sans-serif;
    text-align: center;
    letter-spacing: -2.5px;
    font-size: 60.096px;
    font-weight: 700;
    line-height: 63.1008px;
    color: rgb(255, 255, 255);
}

#page7-left-bottom {
    display: flex;
    justify-content: center;
}

#page7-left-bottom img {
    width: 26%;
    height: 62vh;
}

.page7-right {
    width: 42%;
    height: 105vh;
    background-color: #0D0D0E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2.5vw;
    padding-left: 0.5vw;
}

#page7-right-top {
    width: 100%;
    height: 52vh;
    background-color: #2A2A2C;
    border-radius: 50px;
}

#page7-right-top h4 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 12.096px;
    font-weight: 700;
    line-height: 15.12px;
    color: rgb(120, 120, 120);
    margin-top: 1.8vw;
    margin-left: 1.8vw;
    display: block;
}

#page7-right-top-content {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
}

#page7-right-top-img {
    width: 100%;
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page7-right-top-img img {
    width: 45%;
    height: 32vh;
}

#page7-right-top-content h2 {
    text-align: center;
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 39.936px;
    font-weight: 700;
    line-height: 41.9328px;
    color: rgb(255, 255, 255);
}

#page7-right-bottom {
    width: 100%;
    height: 52vh;
    background-color: #2A2A2C;
    border-radius: 50px;
    background-image: url(./12.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#page7-right-bottom h4 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 12.096px;
    font-weight: 700;
    line-height: 15.12px;
    color: rgb(120, 120, 120);
    margin-top: 1.8vw;
    margin-left: 1.8vw;
    display: block;

}

#page7-right-bottom-content h2 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-weight: 700;
    line-height: 63.1008px;
    color: #00774A;
    margin-top: 7vw;
    margin-left: 2vw;
}

.location1 {
    width: 35px;
    height: 35px;
    background-color: #212423;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 16%;
    top: 16%;
}

.location1 i {
    font-size: 2vh;
    color: #448d48;
}


#page8 {
    width: 100%;
    height: 62vh;
    background-color: #0D0D0E;
    display: flex;
    justify-content: space-between;
    padding-right: 2.5vw;
}

#page8-left {
    width: 42%;
    height: 60vh;
    background-color: #2A2A2C;
    border-radius: 50px;
    margin-top: 0.5vw;
    margin-left: 2vw;

}

#page8-left h4 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 12.096px;
    font-weight: 700;
    line-height: 15.12px;
    color: rgb(120, 120, 120);
    margin-top: 1.8vw;
    margin-left: 1.8vw;
    display: block;
}

#page8-left h2 {
    font-family: "Neutrifstudio Bold", sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 63.1008px;
    color: #00774A;
    margin-top: 2vw;
    margin-left: 2vw;
}

#page8-left img {
    margin: 2.5vw 6vw;
}

#page8-right {
    width: 55.3%;
    height: 60vh;
    background-color: #2A2A2C;
    border-radius: 50px;
    margin-top: 0.5vw;

}

#page8-right h4 {
    font-family: "Neutrifstudio Bold", sans-serif;
    font-weight: 700;
    line-height: 15.12px;
    color: rgb(120, 120, 120);
    margin-top: 1.8vw;
    margin-left: 1.8vw;
    display: block;
}


#page8-right h2 {
    font-family: "Neutrifstudio Bold", sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 63.1008px;
    color: white;
    margin: 1.5vw 10vw;
}

#page8-right img {
    margin: 0 7vw;
}

#page9 {
    width: 100%;
    height: 100vh;
    background-color: #0D0D0E;
    display: flex;
    align-items: center;
    justify-content: center;

}

#page9-content {
    width: 30.5%;
    height: 30vh;

}

#page9 h3 {
    color: white;
    font-family: "Neutrifstudio Bold", sans-serif;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 500;
}

#page10 {
    width: 100%;
    height: 100vh;
    background-color:#016837;
    position: fixed;
    position: relative;
border-bottom: 1.6vh solid yellow;
  
}

#page10 img{
    height: 55vh;
    position: absolute;
    left: 43%;
    top: 10%;
    rotate: 15deg;
}

#page10 h4{
    position: absolute;
    color: yellow;
    font-family: "Neutrifstudio Bold", sans-serif;
font-size: 0.6vw;
left: 47%;
top: 75%;
font-weight: 600;
}

#page10 h1{
    color: yellow;
    position: absolute;
    top: 80%;
    font-size: 6vw;
    font-family: "Neutrifstudio Bold", sans-serif;
margin: 0vw 9vw;
letter-spacing: -0.2vw;
}

#page11-top {
    width: 100%;
    height: 45vh;
    background-color: #0D0D0E;
    display: flex;
 overflow-x: auto;
}


#page11-top h2{
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Neutrifstudio Regular", sans-serif;
    font-size: 169.92px;
    font-weight: 500;
    line-height: 178.416px;
    color: rgb(254, 217, 106);
    animation-delay: 0;
    animation-name: scroll;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
}

#page11-top::-webkit-scrollbar{
    background-color: transparent;
}

#page11 {
    width: 100%;
    height: 55vh;
    background-color: #0D0D0E;
    padding: 0 1.5vw;
}
#page11-bottom {
    width: 100%;
    height: 55vh;
    display: flex;
    border-top: 1px solid yellow;

}

#page11-bottom-left {
    width: 50%;
    height: 55vh;
    background-color: #0D0D0E;
    margin-left: 1vw;
    padding-top: 4vw;
    border-right: 1px solid yellow;
    border-bottom: 1px solid yellow;
}

#page11-bottom-left h3 {
    cursor: pointer;
    color: #FED96A;
    font-size: 39.936px;
    line-height: 41.9328px;
    font-family: "Neutrifstudio Bold", sans-serif;
    font-weight: 400;
transition: all linear 0.2s;
margin: 0.5vw 0vw;
}

#page11-bottom-left h3:hover{
    color: #85733C;
}

.box {
    display: flex;
    padding: 2.5vw 0vw;
}

#box1 {
    width: 60px;
    height: 60px;
    background-color: #2A2A2C;
    margin: 0 0.2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
transition: all linear 0.2s;
}

#box1 h4{
    color: #FED96A;
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 11px;
}

#box1:hover{
    background-color: #FED96A;
}

#box1 h4:hover{
    color: black;
}

#box2 {
    width: 60px;
    height: 60px;
    background-color: #2A2A2C;
    margin: 0 0.2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    transition: all linear 0.2s;
}

#box2 h4{
    color: #FED96A;
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 11px;
}

#box2:hover{
    background-color: #FED96A;
}

#box2 h4:hover{
    color: black;
}

#box3 {
    width: 60px;
    height: 60px;
    background-color: #2A2A2C;
    margin: 0 0.2vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    transition: all linear 0.2s;
}

#box3 h4{
    color: #FED96A;
    font-family: "Neutrifstudio Bold", sans-serif;
    font-size: 11px;
}

#box3:hover{
    background-color: #FED96A;
}

#box3 h4:hover{
    color: black;
}
#page11-bottom-right {
    width: 50%;
    height: 55vh;
    background-color: #0D0D0E;
    margin-right: 1vw;
    border-bottom: 1px solid yellow;
    position: relative;
}

#page11-bottom-right-content {
    margin-top: 4.5vw;
    margin-left: 3vw;
    padding-right: 12vw;
}

#page11-bottom-right-content h2 {
    color: #FED96A;
    font-size:  60.096px;
    font-family: "Neutrifstudio Bold", sans-serif;
    line-height: 63.1008px;
    font-weight: 700;
    letter-spacing: -0.2vw;
}

#page11-bottom-right input {
    padding: 1.2vw 1.2vw;
    width: 27vw;
    margin-top: 5vh;
    margin-left: 3vw;
    border-radius: 50px;
    border: none;
    background-color: #222121;
}

.arrow {
    width: 45px;
    height: 45px;
    background-color:#FED96A;
    position: absolute;
    left: 58%;
    top: 65.5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow i {
    font-size: 1.1vw;
    color: black;

}

#page12 {
    width: 100%;
    height: 100vh;
    background-color: #0D0D0E;
}
.page12-first {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;

}

#page12-first-img {
    width: 11vw;
    height: 22.5vh;
    background-color: #2A2A2C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page12-second {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 1vw;

}

.page12-second h4 {
    font-family: "Neutrifstudio Bold", sans-serif;
    color:#FED96A;
    font-size: 18px;
    font-weight: 400;
}

.page12-third {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-top: 1vw;
}

.page12-third input{
    padding: 1.1vw 1vw;
    width: 28vw;
    border-radius: 50px;
    border: none;
    background-color:#222121 ;
}

.arrow2{
    width: 50px;
    height: 50px;
    background-color: #1D1DFE;
    position: absolute;
    border-radius: 50%;
    left: 61%;
    top: 41.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.page12-fourth{
    width: 100%;
    height: 30vh;
    margin-top: 2vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5vw;
    padding: 0.1;

}

.page12-fourth h1{
    font-family: "Neutrifstudio Bold", sans-serif;
    color: #FED96A;
    font-size: 15vw;
    letter-spacing: -0.7vw;

}

.page12-fifth{
width: 100%;
height: 6.5vh;
margin-top: 1.2vw;
display: flex;
align-items: center;
justify-content: center;
border-top: 1px solid yellow;
font-family: "Neutrifstudio Bold", sans-serif;
color: #FED96A;
font-weight: 100;
}

